.containers {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
  background-color: #2b2b2b;
  
} 
/* background-image: url("d1.png"); /* Replace "your-image-url.jpg" with the URL or path to your desired image */
  /* background-repeat: no-repeat;
  background-size: cover; */

.container-NSL,
.container-UNSW {
  width: 45%;
  margin: 0 3%;
  padding: 5%;
  background-color: white;
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-prediction {
  position: relative;
  display: grid;
  margin-bottom: 10%;
  gap: 20px;
  width: 90%;
  left: 5%;
  right: 5%;
  height: 25%;
}

.prediction-tableee {
  position: relative;
  height: 60%;
  width: 100%;
}

.prediction-table {
  position: relative;
  width: 100%;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .containers {
    flex-direction: column;
    height: auto;
  }

  .container-NSL,
  .container-UNSW {
    width: 90%;
    margin: 3% auto;
  }

  .prediction-tableee {
    height: auto;
    width: 100%;
  }
}

.container-prediction p{
  font-weight: bold;
  color: #7D12FF;
  text-align: center;
}

h1{
  position: relative;
  margin-bottom: 5%;
  font-weight: bolder;
  color: #ee4b4c;
  text-align: center;
}

label.label input[type="file"] {
  position: absolute;
  top: -1000px;
}

.label {
  position: relative;
  cursor: pointer;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 5px;
  background: #dddddd;
  display: inline-block;
}

.label:hover {
  background: #565656;
  color: whitesmoke;
}

.label:active {
  background: #9fa1a0;
}

.label:invalid+span {
  color: #000000;
}

.label:valid+span {
  color: #ffffff;
}

.button-17 {
  align-items: center;
  appearance: none;
  background-color: #ee4b4c;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17:hover {
  background: #f36667;
  color: white;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid white;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

/* Additional colors */
.prediction-table {
  background-color: #565656;
}

.prediction-table .cell-1 {
  background-color: #ee4b4c;
}

.prediction-table .cell-2 {
  background-color: #000000;
}

.prediction-table .cell-3 {
  background-color: #565656;
}

.prediction-table .cell-4 {
  background-color: #a8a8a8;
}

.prediction-table .cell-5 {
  background-color: #ffffff;
}

