table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
  }
  
  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 8px; /* Reduce the font size */
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  th {
    background-color: #dddddd;
    font-weight: bold;
  }
  