.Nsl_Imp {
    display: block;
    /*justify-content: space-around; */
    align-items: center;
    margin-top: 20px;
    margin-left: 200px;
  }
  
  .Nsl_Imp img {
    width: 100%;
    transition: transform 0.3s ease; /* Add a smooth animation transition */
    height: auto;

  }
  .Nsl_Imp:hover img{
    transform: scale(1.1); /* Add an animated effect on hover */
  }
  
  @media (min-width: 768px) {
    .Nsl_Imp img {
      max-width: 80%;
    }
  

  }

  .UNSW_Imp{
    display: block;
    /*justify-content: space-around; */
    align-items: center;
    margin-top: 20px;
    margin-left: 200px;
  }
  .UNSW_Imp img{
    width: 80%;
    transition: transform 0.3s ease; /* Add a smooth animation transition */
    height: auto;
  }
  .UNSW_Imp:hover img{
    transform: scale(1.1); /* Add an animated effect on hover */
  }
  @media (min-width: 768px) {
    .UNSW_Imp img {
      max-width: 100%;
    }
  }