.Nsl_Imp {
    display: inline-block;
    /*justify-content: space-around; */
    align-items: center;
    margin-top: 20px;
    margin-left: 250px;
  
  }
  
   /* .Nsl_Imp img {
    width: 100%;
    transition: transform 0.3s ease; 
    height: auto;

  } */
  /* .Nsl_Imp:hover img{
    transform: scale(1.1); 
  } */
  
  /* @media (min-width: 768px) {
    .Nsl_Imp img {
      max-width: 80%;
    }
  

  } */

  /* .UNSW_Imp{
    display: block;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-left: 250px;
  }
  /* .UNSW_Imp img{
    width: 80%;
    transition: transform 0.3s ease; 
    height: auto;
  }
  .UNSW_Imp:hover img{
    transform: scale(1.1); 
  }
  @media (min-width: 768px) {
    .UNSW_Imp img {
      max-width: 100%;
    }
  } */
  .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

  }
  .chart-container{
    background-color: #ffffff;
    padding: 10px;
    margin-left:120px;
    
  

  }
  .chart{
    background-color: #ffffff;
    padding: 10px;
    margin-top: 20px;
  
  
  }