.Home {
  display: flex;
  font-family: Arial, sans-serif;
}

.content {
  margin-left: 200px; /* To account for the Sidebar width */
  padding: 20px;
}

.switch-container {
  display: flex;
  margin-bottom: 20px;
}

.switch-button {
  background-color: #ffffff;
  border: none;
  color: #7D12FF;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px; /* Add border-radius for rounded corners */
  transition: background-color 0.3s ease;
  margin-right: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.switch-button.active {
  background-color: #a368eb;
  color: #fff;
}

.description-container {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align-items: center;
 
}
@media (min-width: 768px) {
  .description-container {
    flex-direction: column;
    justify-content: space-between;
  }

.description-container .description-content {
  flex-basis: 70%;
  margin-right: 20px;
} 

}


.description-container h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #7D12FF;
}
 .photo {
  flex-basis: calc(33.33% - 2cm); 
  background-color: #ffffff;
  padding: 8px;
  margin-right: 2cm; 
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  overflow: hidden;
  /* border-radius: 5%; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 

.photo img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease; /* Add a smooth animation transition */
}

.photo:hover img {
  transform: scale(1.1); /* Add an animated effect on hover */
}

.photo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .photo-title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #7D12FF;
} */

.photo-container {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 110%;
  
  /* width: 100%; */
}

 .photo {
  /* width: 33.33%; */
  /* flex: 0 0 auto; */
  /* width: 33.33%; */
  /* margin-right: 20px; */
  margin-bottom: 20px;
  /* box-sizing: border-box;
  padding-right: 20px; */
} 

.photo:last-child {
  margin-right: 0;
}
.description-container p {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
}

.photo-container-wrapper {
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
  position: relative;
}

.graphs {
  display: flex;
  flex-direction: row;
}

/* .flags {
  flex: 1;
}

.models {
  flex: 1;
}

.charts {
  display: flex;
  flex-direction: column;
}
.graphs {
  display: flex;
} */
.graphs {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
}

.barchart-container {
  background-color: #ffffff;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.linechart-container {
  background-color: #ffffff;
  padding: 10px;
  margin-top: 20px;
  width: 300px;
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




